.container2 {
  width: 20vw;
  height: 15vw;
  background-color: $color2;
  border: 3px solid $color3;
  border-radius: 10%;
  box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);

  #title2 {
    font-size: 2vw;
    text-align: center;
    margin-top: 0.5vw;
  }

  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3.5vw;
  }

  #start,
  #stop {
    cursor: pointer;
    height: 3vw;
    width: 8vw;
    font-size: 2vw;
    background-color: $color1;
    border: none;
    border-radius: 7.5%;
    &:hover {
      background-color: $color3;
      color: $color1;
    }
    &:active {
      background-color: rgba($color: $color3, $alpha: 0.8);
    }
  }
}

/*  MOBILE   */
@media screen and (min-width:320px) and (max-width:551px) {
  .container2 {
      width: 35vw;
      height: 30vw;
  
      #title2 {
        font-size: 5vw;
        margin-top: 1.5vw;
      }
  
      .row2 {
        margin-top: 5vw;
      }
  
      #start,
      #stop {
        height: 8vw;
        width: 13vw;
        font-size: 5vw;
      }
    }
}

/*  TABLET   */
@media screen and (min-width:551px) and (max-width:768px) {
  .container2 {
    width: 32.5vw;
    height: 27.5vw;

    #title2 {
      font-size: 5vw;
      margin-top: 1.5vw;
    }

    .row2 {
      margin-top: 5vw;
    }

    #start,
    #stop {
      height: 8vw;
      width: 13vw;
      font-size: 5vw;
    }
  }
}

