.down-right-main {
  height: 45vh;
  .container2 {
    margin-top: -3vh;
    background-color: #094067;
    box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
    border-radius: 10%;
    height: 35vh;
    width: 20vw;
    transform: translate(0, 20%);
    border: 2px outset $color1;

    #title2 {
      width: fit-content;
      font-size: 2vw;
      margin: auto;
      margin-top: 3vh;
    }

    #start,
    #stop {
      height: 10vh;
      width: 15vh;
      border: 1px solid $color1;
      border-radius: 10px;
      cursor: pointer;
      margin: auto;
      background-color: #3da9fc;
      font-size: 4em;
      padding: 2vh 0.5vw;
      position: relative;
      top: 5vh;
      left: 1.5vw;
      margin: 0 0.5vw;
      &:hover {
        background-color: $color1;
        color: #3da9fc;
        border: 1px solid #3da9fc;
      }
      &:active {
        color: black;
        background-color: #fde24f;
      }
    }
  }
}

