header {
  width: 100vw;
  height: 10vh;
  background-color: $color2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 2vw;
    font-size: 2.5vw;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1vw;
    margin-right: 2vw;
    padding: 1vh 1vw;
    background-color: $color4;
    border-radius: 10px;
  }

  .link-img {
    width: 2vw;
    &:hover {
        transform: scale(1.2);
      }
  }
}

/*  MOBILE   */
@media screen and (min-width:320px) and (max-width:480px) {
  header {
  
      p {
        font-size: 5vw;
      }
  
      ul {
        gap: 2.5vw;
        margin-right: 2vw;
        padding: 3vw 3vw;
        background-color: $color4;
        border-radius: 10px;
      }
  
      .link-img {
        width: 5vw;
      }
    }
}