header {
  width: 100vw;
  height: 10vh;
  background-color: #00214d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  p {
    margin-left: 2vw;
    font-size: 2.5vw;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1vw;
    margin-right: 2vw;
    padding: 1vh 1vw;
    background-color: $color1;
    border-radius: 10px;
  }

  .link-img {
    width: 2vw;
  }
}