.left-main {
  width: 50vw;
  border-right: 4px solid $color4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  #startValue {
    margin: auto;
    width: 20vw;
    border: 2px solid $color4;
    background-color: white;
    border-radius: 10%;
    box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
    font-size: 7.5vw;
    text-align: center;
    color: #0f0e17;
    padding: 5vw;
  }
}

/*  MOBILE   */
@media screen and
(min-width:320px) and (max-width:480px) {
  .left-main {
    width: 100vw;
    border-right: none;
    border-bottom: 4px solid $color4;

    #startValue {
      margin-bottom: 15vw;
      width: 30vw;
      font-size: 10vw;
      text-align: center;
      color: #0f0e17;
      padding: 10vw;
    }
  }
}



