.left-main {
  width: 50vw;
}

.container0 {
  background-color: #fde24f;
  box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
  border-radius: 10%;
  height: 60vh;
  width: 25vw;
  transform: translate(50%, 20%);
  border: 4px double $color1;

  #startValue {
    font-size: 15em;
    position: relative;
    top: 17.5vh;
    text-align: center;
    color: #0f0e17;
  }
}

@media screen and (max-width:768px) {
  .container0 {
    height: 40vh;
    width: 25vw;
    transform: translate(50%, 50%);

    #startValue {
      font-size: 10em;
      top: 10vh;
    }
  }
 }