$font1: 'Fredoka One', cursive;
$color1: #e0fbfc;
$color2: #3d5a80;
$color3: #ee6c4d;

/*   GENERAL STYLE   */
@import './generalstyles';

/*   HEADER    */
@import './header.scss';

/*   LEFT-MAIN    */
@import './leftmain.scss';

/*   RIGHT-MAIN    */
@import './rightmain.scss';




