/*   GENERAL STYLE   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka One", cursive;
  color: #ee6c4d;
}

body {
  font-size: 10px;
  background-color: #e0fbfc;
}

main {
  height: 90vh;
  width: 100vw;
  display: flex;
}

/*   HEADER    */
header {
  width: 100vw;
  height: 10vh;
  background-color: #3d5a80;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header p {
  margin-left: 2vw;
  font-size: 2.5vw;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1vw;
  margin-right: 2vw;
  padding: 1vh 1vw;
  background-color: #ee6c4d;
  border-radius: 10px;
}
header .link-img {
  width: 2vw;
}
header .link-img:hover {
  transform: scale(1.2);
}

/*   LEFT-MAIN    */
.left-main {
  width: 50vw;
  border-right: 4px solid #ee6c4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-main #startValue {
  margin: auto;
  width: 20vw;
  border: 2px solid #ee6c4d;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
  font-size: 7.5vw;
  text-align: center;
  color: #0f0e17;
  padding: 5vw;
}

/*   RIGHT-MAIN    */
.right-main {
  width: 50vw;
  border-left: 4px solid #ee6c4d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

/*   TOP-RIGHT-MAIN    */
.container1 {
  width: 20vw;
  height: 15vw;
  background-color: #3d5a80;
  border: 3px solid #ee6c4d;
  border-radius: 10%;
  box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
}
.container1 #title1 {
  font-size: 2vw;
  text-align: center;
  margin-top: 0.5vw;
}
.container1 .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3.5vw;
}
.container1 #btnIncrease,
.container1 #btnDecrease {
  cursor: pointer;
  font-size: 2vw;
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
  border: none;
  background-color: #e0fbfc;
}
.container1 #reset {
  cursor: pointer;
  height: 3vw;
  width: 8vw;
  font-size: 2vw;
  background-color: #e0fbfc;
  border: none;
  border-radius: 7.5%;
}

/*   DOWN-RIGHT-MAIN    */
.container2 {
  width: 20vw;
  height: 15vw;
  background-color: #3d5a80;
  border: 3px solid #ee6c4d;
  border-radius: 10%;
  box-shadow: 0px 0px 17px 19px rgba(0, 0, 0, 0.71);
}
.container2 #title2 {
  font-size: 2vw;
  text-align: center;
  margin-top: 0.5vw;
}
.container2 .row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 3.5vw;
}